<form ng-init="setMap()">
	</br></br>

	<div class="list">
			<a class="item">
				<h1>SYSTEM OF A DOWN</h1>
				<p>
					Para los más escépticos, podía parecer
					poco probable que System of a Down
				</p>
				<p>
					saliera triunfante del Santiago Gets
					Louder, tomando en cuenta que
				</p>
				<div class="portada" style="background-image: url(img/soad.jpg)">
			  </div>
				<p>
					el cuarteto armenio-estadounidense debutó
					hace sólo cuatro años en el Bicentenario
				</p>
				<p>
					de La Florida y que ha pasado una
					década desde la publicación de su álbum
				</p>
				<p>
					más reciente, sin muchas novedades
					que ofrecer. Sin embargo, como número
				</p>
			</a>
	</div>

	<div id="map" data-tap-disabled="true" elem-ready="setMap()"></div>
</form>
