</br></br>
<form>
	<div class="list">
	    <a class="item item-thumbnail-left" href="#/app/receta">
	      <img src="img/huevos.jpg">
	      <h2>Huevos con tocino</h2>
	      <p>Desayuno de campeones!</p>
	    </a>
	    <a class="item item-thumbnail-left" href="#">
	      <img src="img/sushi.jpg">
	      <h2>Sushi</h2>
	      <p>Receta para reuniones de cualquier tipo</p>
	    </a>
	    <a class="item item-thumbnail-left" href="#app/evento">
	      <img src="img/soad.jpg">
	      <h2>System of a down en Chile</h2>
	      <p>No te pierdas este concierto, el dia 30 de Septiembre en el estadio Nacional</p>
	    </a>
	    <a class="item item-thumbnail-left" href="#">
	      <img src="img/mojito.jpg">
	      <h2>Mojito cubano</h2>
	      <p>El mejor mojito cubano en el siguiente post</p>
	    </a>
	</div>
</form>
