<form>
	<ion-nav-view name="receta"></ion-nav-view>
	<ion-tabs class="tabs-icon-only">
		<ion-tab title="Ventas" icon="ion-fork" href="#/app/ingredientes">
			<ion-nav-view name="ingredientes-tab">
				</br></br></br>
				<div class="card">
					<ion-checkbox>2 Huevos</ion-checkbox>
					<ion-checkbox>50mg d tocino</ion-checkbox>
					<ion-checkbox>Aceite</ion-checkbox>
					<ion-checkbox>Sal</ion-checkbox>
				</div>
			</ion-nav-view>
	  </ion-tab>
	  <ion-tab title="Productos" icon="ion-ios-nutrition" href="#/app/preparacion">
	      <ion-nav-view name="preparacion-tab">
					</br></br></br>
					<div class="list">
					    <a class="item item-thumbnail-left">
					      <img src="img/huevos.jpg">
					      <h2>Huevos con tocino</h2>
					      <p>
									Primero poner un sartén con aceite

								</p>
								<p>
									has ta que hierva, poner los tocinos
								</p>
								<p>
									en el aceite, cuando comiencen a
								</p>
								<p>
									retorcerse romper los huevos, este
								</p>
								<p>
									proceso es muy complejo en el caso
								</p>
								<p>
									de que se requieran fritos y no
								</p>
								<p>
									revueltos, luego agregar un poco de
								</p>
								<p>
									sal y vualaa!! (o como sea que se escriba...)
								</p>
					    </a>
					</div>
	      </ion-nav-view>
	  </ion-tab>
	  <ion-tab title="Productos" icon="ion-wineglass" href="#/app/relacionados">
	    <ion-nav-view name="relacionados-tab">
				</br></br></br>
				<div class="list">
					<a class="item item-thumbnail-left" href="#/app/relacionado">
			      <img src="img/mojito.jpg">
			      <h2>Mojito cubano</h2>
			      <p>El mejor mojito cubano en el siguiente post</p>
			    </a>
				</div>
	    </ion-nav-view>
	  </ion-tab>
	</ion-tabs>
</form>
