<form>
	<ion-nav-view name="receta"></ion-nav-view>
	<ion-tabs class="tabs-icon-only">
		<ion-tab title="Ventas" icon="ion-fork" href="#/app/ingredientes">
			<ion-nav-view name="ingredientes-tab">
				</br></br></br>
				<div class="card">
					<ion-checkbox>Ron blanco</ion-checkbox>
					<ion-checkbox>Limón de pica</ion-checkbox>
					<ion-checkbox>Azúcar</ion-checkbox>
					<ion-checkbox>Menta</ion-checkbox>
					<ion-checkbox>Hielo picado</ion-checkbox>
				</div>
			</ion-nav-view>
	  </ion-tab>
	  <ion-tab title="Productos" icon="ion-ios-nutrition" href="#/app/preparacion">
	      <ion-nav-view name="preparacion-tab">
					</br></br></br>
					<div class="list">
					    <a class="item item-thumbnail-left">
					      <img src="img/mojito.jpg">
					      <h2>Huevos con tocino</h2>
					      <p>
									A continuación vamos a indicaros paso

								</p>
								<p>
									cómo se prepara un verdadero Mojito cubano
								</p>
								<p>
									echando en cada vaso varias hojas de
								</p>
								<p>
									hierbabuena, o directamente una rama
								</p>
								<p>
									entera. Los vasos mejor si son grandes
								</p>
								<p>
									ya que es más fácil posteriormente
								</p>
								<p>
									mezclar todos los ingredientes.
								</p>
					    </a>
					</div>
	      </ion-nav-view>
	  </ion-tab>
	</ion-tabs>
</form>
