</br></br>
<form>
	<div class="list">
	    <a class="item item-thumbnail-left" href="#/app/single">
	      <img src="img/ionic.png">
	      <h2>Pretty Hate Machine</h2>
	      <p>Nine Inch Nails</p>
	    </a>
	    <a class="item item-thumbnail-left" href="#">
	      <img src="img/ionic.png">
	      <h2>Pretty Hate Machine</h2>
	      <p>Nine Inch Nails</p>
	    </a>
	    <a class="item item-thumbnail-left" href="#">
	      <img src="img/ionic.png">
	      <h2>Pretty Hate Machine</h2>
	      <p>Nine Inch Nails</p>
	    </a>
	    <a class="item item-thumbnail-left" href="#">
	      <img src="img/ionic.png">
	      <h2>Pretty Hate Machine</h2>
	      <p>Nine Inch Nails</p>
	    </a>
	</div>
</form>
